<!doctype html>
{% load cart %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  
    <style>
        /* Hide the dropdown menu by default */
        .dropdown-menu {
          display: none;
        }
        /* Show the dropdown menu when the parent is hovered */
        .nav-item.dropdown:hover .dropdown-menu {
          display: block;
        }
    </style>
  </head>
  <body style="background-color: lightgoldenrodyellow">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <div class="container-fluid" style="background-color: paleturquoise">
        <a class="navbar-brand" href='/'>
          <h1><img align = "center" src = "https://cdn.dribbble.com/users/398490/screenshots/1297496/dribbble_4.gif" width = "100px" height = "70px"> Kazi Departmental Store</h1>  
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; Khalid Abdullah & Team</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <!-- <a class="nav-link active" aria-current="page" href='/'>Home</a> -->
            </li>
          </ul>

          <ul class="navbar-nav my-2 my-lg-0">
            <!-- <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button">Profile</a>

                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li> -->
            
            <li class="nav-item p-2">
               <button type="button" class="btn btn-outline-warning position-relative">
                <a class="nav-link" aria-current="page" href="/cart">Cart
                <span class="position-absolute top-10 start-100 translate-middle badge rounded-pill bg-danger">
                  {{request.session.cart.keys|length}}
                  <span class="visually-hidden"></span>
                </span>
              </a>
              </button>
            </li>
            {% if request.session.customer %}      
              <li class="nav-item p-2">
                <p class = "btn btn-outline-primary"><a class="nav-link" aria-current="page" href="/orders"><b>Orders</b></a></p>
              </li>

              <li class="nav-item p-2">
                <p class = "btn btn-outline-info"><a class="nav-link" aria-current="page" href="/subscribe/"><b>Subscribe</b></a></p>
              </li>
          
              <li class="nav-item p-2">
                <p class = "btn btn-danger"><a class="nav-link" aria-current="page" href="/logout/"><b>Logout</b></a></p>
              </li>
            
            {% else %}
              <li class="nav-item p-2">
                <p class = "btn btn-outline-info"><a class="nav-link" aria-current="page" href="/signup"><b>Sign up</b></a></p>
              </li>

              <li class="nav-item p-2">
                <p class = "btn btn-success"><a class="nav-link " aria-current="page" href="/login"><b>Log in</b></a></p>
              </li>
            {% endif%}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>