{% extends 'base.html' %}


{% block content %}    
<div class="container-fluid mt-3">
  <div class="row mx-auto">
     {% for product in products %}

     <div class="card mx-auto mb-3" style="width: 18rem; background-color:lightblue">
        <img src="{{product.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 align = "center" class="card-title">{{product.name}}</h5>
          <h6 align = "center" class="card-text">BDT {{product.price}}</h6>
          <p align = "center" class="card-text">{{product.description}}</p>
          <p align = "center"><a href="#" class="btn btn-outline-warning">Add to Cart</a></p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
