{% extends 'base.html' %}


{% block content %}
{% load cart %}

<div class="container-fluid mt-3">
  <div class="row">

    <div class="col-lg-3">

      <div class="list-group">
        <h1 align = "center">Categories</h1>
        {% for category in categories %}
            <a href="#" class="list-group-item list-group-item-action mt-2 mb-2">{{category.name}}</a>
        {% endfor %}
      </div>
    </div>

    <div id='products' class="col-lg-9">
      <div class="row mx-auto">
        {% for product in products %}
        <div class="card mx-auto mb-3" style="width: 18rem;background-color:lightyellow">
          <img align = "center" src="{{product.image.url}}" class="card-img-top" alt="..." style=" width : auto; height:250px; border-radius: 150px;">
          <div class="card-body">
            <p align="center"><a href="#" class="btn btn-dark">{{product.name}}</a></p>
            <p align="center"><a href="#" class="btn btn-danger"> {{product.price}}</a>Tk</p>
            {{product | is_in_cart:request.session.cart}}
            <form action="/" method = "POST">
                {% csrf_token %}
                <input hidden type="text" name = 'product' value = '{{product.id}}'>
                <p align="center"><input type = "submit" class="btn btn-outline-warning" value = "Add to Cart"></p>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
{% endblock %}