{% extends 'base.html' %}

{% block head %} Kazi Store | Log in{% endblock %}

{% block content %}

<div class="container mt-4" >
    
    <div class="p-4 m-4">
        <h1 align = "center"> Log in Form</h1>
        
        <div class="col-lg-4 rounded mx-auto border pt-5">
            <div class="text-center col">
            
                <img 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Shopping_cart_with_food_clip_art_2.svg/307px-Shopping_cart_with_food_clip_art_2.svg.png" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
            <div class="display-8">Login Here</div>
            <hr>
            </div>
            <h3 hidden class="alert alert-light border rounded">Create An Account</h3>
            <form action="" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" placeholder="example@gmail.com">
                </div>


                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                    value="{{values.password}}"
                     class="form-control form-control-sm" placeholder="Ex: 1234">
                </div>

                <hr>
                <div class="form-group">
                    <p align = "center"><input class="btn btn-outline-success" type="submit" value="Login"></p>
                </div>

                
            </form>
            <p  align="center"><a class = "btn btn-outline-danger" href='/signup' >Don't have an account ? </a></p>
        </div>
    </div>
</div>

{% endblock %}