{% extends 'base.html' %}

{% block head %} Kazi Store | Subscription Form{% endblock %}

{% block content %}


<h1 align = "center" style="color: red">Subscribers will get flat 40% discount every month</h1>

<div class="container mt-4" >

    <div class="p-4 m-4">
        <h1 align = "center"> Subscription Form</h1>
        
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
            <br>

            </div>
            <form action="" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- firstname -->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname"
                     id="" value="{{values.first_name}}" class="form-control form-control-sm" 
                     placeholder="">
                </div>

                <!-- last name -->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" 
                    id="" value="{{values.last_name}}" class="form-control form-control-sm"
                    >
                </div>

                <!-- Address -->
                <div class="form-group">
                    <label for="">Address</label>
                    <input type="address" 
                    name="address" 
                    id=""
                    value="{{values.address}}"
                     class="form-control form-control-sm" placeholder="Ex: dhaka">
                </div>

                <!-- phone -->
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" 
                    id="" class="form-control form-control-sm"
                    value="{{values.phone}}"
                    placeholder="565698959"
                    >
                </div>
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" placeholder="example@gmail.com">
                </div>

                <hr>
                <div class="form-group">
                    <p align = "center"><input class="btn btn-outline-success" type="submit" value="Subscribe"></p>
                </div>

                
            </form>
        </div>
    </div>
</div>

{% endblock %}