{% extends 'base.html' %}

{% block head %} Kazi Store | subscribed{% endblock %}
{% block content %}

<br>
        <p align = "center" style="color: green"><b>Congratulations! You've successfully subscribed.</b></p> <br>

        <p align = "center" ><b> <u>Here's a copy of your details</u></b></p> 

        <table  align = "center">
                <tr>
                        <td>Frist Name : </td>
                        <td> {{firstName}}</td>
                </tr>
                <tr>
                        <td>Last Name : </td>
                        <td> {{lastName}}</td>
                </tr>
                <tr>
                        <td>Address &nbsp;&nbsp;&nbsp;&nbsp;: </td>
                        <td> {{address}}</td>
                </tr>
                <tr>
                        <td>Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </td>
                        <td> {{phone}}</td>
                </tr>
                <tr>
                        <td>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:  </td>
                        <td>&nbsp;{{email}}</td>
                </tr>
        </table>
        
        <br>
        <p align="center"><a class = "btn btn-outline-danger" href='/' >Back to Home </a></p>
        
{% endblock %}